<?xml version='1.0' encoding='utf-8'?>
<widget id="com.timesvideo.filmigaane" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Filmi Gaane Old </name>
    <author email="umardraz651@gmail.com" href="http://cordova.io">umar draz</author>
    <icon src="www/img/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <splash qualifier="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
        <splash qualifier="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
        <splash qualifier="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
        <splash qualifier="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
        <splash qualifier="port-xxhdpi" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
        <splash qualifier="port-xxxhdpi" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
        <resource-file src="locales/android/drawable-mdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-mdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-hdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-hdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-xhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xhdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-xxhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xxhdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-xxxhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xxxhdpi/ic_stat_onesignal_default.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:* " />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-maxSdkVersion" value="28" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="onesignal" value="" />
    <preference name="admobBannerId" value="ca-app-pub-2607313420010336/5371692162" />
    <preference name="admobInterstitialId" value="ca-app-pub-2607313420010336/2362385448" />
    <preference name="admobAppId" value="ca-app-pub-2607313420010336~8189427197" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreenDuration" value="400" />
    <preference name="SplashScreenBackgroundColor" value="white" />
    <engine name="android" spec="^7.1.1" />
    <engine name="ios" spec="^4.5.5" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-admobpro" spec="^2.31.6" />
    <plugin name="onesignal-cordova-plugin-pgb-compat" spec="^2.0.10" />
    <plugin name="onesignal-cordova-plugin" spec="2.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="https://github.com/apache/cordova-plugin-statusbar.git" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-customconfigparameters" spec="https://github.com/experiencecommerce/cordova-plugin-customconfigparameters.git" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="com.bunkerpalace.cordova.YoutubeVideoPlayer" spec="https://github.com/JonSmart/CordovaYoutubeVideoPlayer.git" />
    <plugin name="com.santinowu.cordova.imagedownloader" spec="https://github.com/Santino-Wu/cordova-plugin-imagedownloader.git">
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="explain why you require accessing Photo" />
    </plugin>
    <plugin name="cordova-android-play-services-gradle-release" spec="^1.4.4">
        <variable name="PLAY_SERVICES_VERSION" value="15.+" />
    </plugin>
    <plugin name="cordova-plugin-shortcuts-android" spec="~0.1.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
</widget>
