body, html {
                    height: 100%;
                    margin: 0;
                    }
                        .modal {
                            display: none; /* Hidden by default */
                            position: fixed; /* Stay in place */
                            z-index: 1; /* Sit on top */
                            left: 0;
                            top: 0;
                            width: 100%; /* Full width */
                            height: 100%; /* Full height */
                            overflow: auto; /* Enable scroll if needed */
                           background-color: white;
                           opacity */
                        }

.modal .modal-content {
   
    height: auto;
    min-height: 100%;
}
.modal
{
    overflow-x: hidden !important;
}
                         
                        .img-of-video
                        {

                        width: 100px;
                        min-height: 92px;
                        border-radius: 4px;
                        height: 40px;
                        }
                        .video{
                        position: relative;
                            padding: 5px;
                        }
                        .image { 
                           position: relative; 
                           width: 100%; /* for IE 6 */
                        }

                        .bottomleft {
                            position: absolute;
                            bottom: 8px;
                            left: 16px;
                            font-size: 10px;
                        }

/*----- Toggle Button -----*/
.toggle-nav {
display:none;
}
/*----- Menu -----*/
@media screen and (min-width: 860px) {
.menu {
width:100%;
padding:10px 18px;
box-shadow:0px 1px 1px rgba(0,0,0,0.15);
border-radius:3px;
background:#303030;
}
}
.menu ul {
display:inline-block;
}
.menu li {
margin:0px 50px 0px 0px;
float:left;
list-style:none;
font-size:17px;
}
.menu li:last-child {
margin-right:0px;
}
.menu a {
text-shadow:0px 1px 0px rgba(0,0,0,0.5);
color:#777;
transition:color linear 0.15s;
}
.menu a:hover, .menu .current-item a {
text-decoration:none;
color:#66a992;
}
/*----- Search -----*/
.search-form {
float:right;
display:inline-block;
}
.search-form input {
width:200px;
height:30px;
padding:0px 8px;
float:left;
border-radius:2px 0px 0px 2px;
font-size:13px;
}
.search-form button {
height:30px;
padding:0px 7px;
float:right;
border-radius:0px 2px 2px 0px;
background:#66a992;
font-size:13px;
font-weight:600;
text-shadow:0px 1px 0px rgba(0,0,0,0.3);
color:#fff;
}
/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
.wrap {
width:90%;
}
}
@media screen and (max-width: 970px) {
.search-form input {
width:120px;
}
}
@media screen and (max-width: 860px) {
.menu {
position:relative;
display:inline-block;
}
.menu ul.active {
display:none;
}
.menu ul {
width:100%;
position:absolute;
top:120%;
left:0px;
padding:10px 18px;
box-shadow:0px 1px 1px rgba(0,0,0,0.15);
border-radius:3px;
background:#303030;
}
.menu ul:after {
width:0px;
height:0px;
position:absolute;
top:0%;
left:22px;
content:'';
transform:translate(0%, -100%);
border-left:7px solid transparent;
border-right:7px solid transparent;
border-bottom:7px solid #303030;
}
.menu li {
margin:5px 0px 5px 0px;
float:none;
display:block;
}
.menu a {
display:block;
}
.toggle-nav {
padding:20px;
float:left;
display:inline-block;
box-shadow:0px 1px 1px rgba(0,0,0,0.15);
border-radius:3px;
background:#303030;
text-shadow:0px 1px 0px rgba(0,0,0,0.5);
color:#777;
font-size:20px;
transition:color linear 0.15s;
}
.toggle-nav:hover, .toggle-nav.active {
text-decoration:none;
color:#66a992;
}
.search-form {
margin:12px 0px 0px 20px;
float:left;
}
.search-form input {
box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
}
}
.caption {
    margin-top: -94px;
    text-align: center;
    color: #fff;
    }
    .caption h2
    {
        color: #fff;
           margin-top: 19px;

    }

.carousel-indicators li
{
        width: 35px !important;
    
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
      padding: 0px;
    margin-top: 9px;
    margin-bottom: 14px;
    height: 110px;
}

#saveImg
{
  width: 35px;
    /* position: absolute; */
    z-index: 9999999;
    display: inline-block;
    float: left;
    margin-top: -20%;
    /* left: 63px; */
    margin-left: 31px;
    background-color: #a4a4a4;
    border-radius: 50%;
}

/* The Modal (background) */
#wallpaperModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 19999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000; /* Fallback color */
   /* background-color: rgba(0,0,0,0.9);*/ /* Black w/ opacity */
}
#searchModel()
{
     display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 19999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000; /* Fallback color */
 
}

/* Modal Content (image) */
#wallpaperModal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#wallpaperModal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.videoContainer {
  position: absolute;
  width: 100%;
  height: 113%;
  top: -20px;
  left: 0;
  bottom: 03
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

iframe {
  /* optional */
  width: 101%;
  height: 101%;
  background-color: #000;
}

/* Add Animation */
#wallpaperModal .modal-content, #wallpaperModal #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
#wallpaperModal .closewallpaper {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
#wallpaperModal .close:hover,
#wallpaperModal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    #wallpaperModal .modal-content {
        width: 100%;
    }
}

/* Previous button  */
 .media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
div#mainSlider {
        margin-top: 70px;
    
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
    max-width: 100px !important;
    min-width: 100px !important;
    min-height: 90px !important;
    max-height: 90px !important;
}
/* End carousel */
#media .col-xs-4
{
        padding-right: 2px !important;
    padding-left: 2px !important;
}
}
.post_title
{
  display: none;
}




